<link href="assets/fontawesome-free/css/t5.css" rel="stylesheet" type="text/css">
<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#addfeesgroup" tabindex="0"
                                aria-disabled="false">
                                <i class="w-fasme fas fa-user-graduate"></i>ADD FEES GROUP
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link mat-button" data-toggle="tab" href="#addfeestype" mat-button=""
                                tabindex="1" aria-disabled="false">
                                <i class="w-fasme fas fa-chalkboard-teacher"></i> ADD FEES TYPE

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mat-button" data-toggle="tab" href="#addfeesdiscount" mat-button=""
                                tabindex="2" aria-disabled="false">
                                <i class="w-fasme fas fa-chalkboard-teacher"></i> ADD FEES DISCOUNT

                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link mat-button" data-toggle="tab" href="#tablefeesgroup" mat-button=""
                                tabindex="3" aria-disabled="false">
                                <i class="w-fasme fas fa-chalkboard-teacher"></i> TABLE FEES GROUP

                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link mat-button" data-toggle="tab" href="#feesmasterlis" mat-button=""
                                tabindex="4" aria-disabled="false">
                                <i class="w-fasme fas fa-chalkboard-teacher"></i> FEES MASTER LIST

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mat-button" data-toggle="tab" href="#collectfees" mat-button=""
                                tabindex="5" aria-disabled="false">
                                <i class="w-fasme fas fa-chalkboard-teacher"></i> COLLECT FEES

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mat-button" data-toggle="tab" href="#feespayment" mat-button=""
                                tabindex="5" aria-disabled="false">
                                <i class="w-fasme fas fa-chalkboard-teacher"></i> FEES PAYMENT

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mat-button" data-toggle="tab" href="#feesdue" mat-button="" tabindex="5"
                                aria-disabled="false">
                                <i class="w-fasme fas fa-chalkboard-teacher"></i> FEES DUE

                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="addfeesgroup">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <app-add-fees-group></app-add-fees-group>
                    </div>
                </div>
                <div class="tab-pane" id="addfeestype">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <app-add-fees-type></app-add-fees-type>

                    </div>
                </div>
                <div class="tab-pane" id="addfeesdiscount">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <app-bank-account></app-bank-account>

                    </div>
                </div>
                <!-- <div class="tab-pane" id="tablefeesgroup">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <app-bank-account></app-bank-account>

                    </div>
                </div> -->
                <div class="tab-pane" id="feesmasterlis">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <app-fees-master-list></app-fees-master-list>

                    </div>
                </div>
                <div class="tab-pane" id="collectfees">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <app-collect-fees></app-collect-fees>

                    </div>
                </div>
                <div class="tab-pane" id="feespayment">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <app-fees-payment></app-fees-payment>

                    </div>
                </div>
                <div class="tab-pane" id="feesdue">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <app-fees-due></app-fees-due>

                    </div>
                </div>
            </div>
        </div>




        <!-- <div class="container">
            <app-chart-of-account></app-chart-of-account>

        </div>
        <div class="container">
            <app-bank-account></app-bank-account>
        </div> -->
    </div>
</div>