<link href="assets/fontawesome-free/css/t5.css" rel="stylesheet" type="text/css">
<div class="col-lg-12 col-md-12">

    <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#studentcertificate" tabindex="0" aria-disabled="false">
                                <i class="w-fasme fas fa-user-graduate"></i>STUDENT CERTIFICATE
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link mat-button" data-toggle="tab" href="#teachercertificate" mat-button="" tabindex="0" aria-disabled="false">
                                <i class="w-fasme fas fa-chalkboard-teacher"></i> TEACHER CERTIFICATE

                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="studentcertificate">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <fieldset class="form-group">
                                        <label for="lblforStudId" class="bmd-label-floating">STUDENT ID</label>
                                        <input type="text" class="form-control" id="lblforStudId">

                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset class="form-group">
                                        <label for="lblStudName" class="bmd-label-floating">STUDENT NAME</label>
                                        <input type="text" class="form-control" id="lblStudName">

                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset class="form-group">
                                        <label for="lblStudClass" class="bmd-label-floating">STUDENT CLASS</label>
                                        <input type="number" class="form-control" id="lblStudClass">

                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset class="form-group">
                                        <label for="lblStudSec" class="bmd-label-floating">STUDENT SECTION</label>
                                        <input type="text" class="form-control" id="lblStudSec">

                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label for="lblStudSec" class="bmd-label-floating">ENTER CERTIFICATE CONTENT</label>
                                        <textarea cols="50" rows="2" class="form-control" id="lblStudSec"></textarea>

                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <fieldset class="form-group">

                                        <input type="submit" class="btn btn-grad" value="GENERATE CERTIFICATE">


                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="teachercertificate">
                    <div class="card two bg-white px-5 py-4 mb-3">

                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <fieldset class="form-group">
                                        <label for="lblforStudId" class="bmd-label-floating">TEACHER ID</label>
                                        <input type="text" class="form-control" id="lblforStudId">

                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset class="form-group">
                                        <label for="lblStudName" class="bmd-label-floating">TEACHER NAME</label>
                                        <input type="text" class="form-control" id="lblStudName">

                                    </fieldset>
                                </div>
                                <div class="col-md-3">
                                    <fieldset class="form-group">
                                        <label for="lblStudClass" class="bmd-label-floating">TEACHER MOBILE NO</label>
                                        <input type="number" class="form-control" id="lblStudClass">

                                    </fieldset>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label for="lblStudSec" class="bmd-label-floating">ENTER CERTIFICATE CONTENT</label>
                                        <textarea cols="50" rows="2" class="form-control" id="lblStudSec"></textarea>

                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <fieldset class="form-group">

                                        <input type="submit" id="btnGenerateTC" class="btn btn-grad" value="GENERATE CERTIFICATE">


                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="chartofaccount">
                    <div class="card two bg-white px-5 py-4 mb-3">
                        <form>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>