<link href="assets/fontawesome-free/css/t5.css" rel="stylesheet" type="text/css">

<form [formGroup]="Addincome">
    <div class="row">
        <div class="col-md-2">
            <fieldset class="form-group">
                <label for="name" class="btn-label-floating">NAME</label>
                <input type="text" formControlName="name" class="form-control" id="name">
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="form-group">
                <label for="achead" class="btn-label-floating">A/C HEAD</label>
                <select type="text" formControlName="achead" class="form-control" id="achead">
                    <option *ngFor="let head of AcHead">{{head.AcHeadName}}</option>
                </select>
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="form-group">
                <label for="amount" class="btn-label-floating">AMOUNT</label>
                <input type="number" formControlName="amount" class="form-control" id="amount">
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="form-group">
                <label for="file" class="btn-label-floating">FILE</label>
                <input type="file" fromControlName="file" class="form-control" id="file">
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="form-group">
                <label for="description" class="btn-label-floating">DESCRIPTION</label>
                <input type="text" formControlName="description" class="form-control" id="description">
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset class="form-group">
                <input type="submit" class="btn btn-grad" value="SAVE ACCOUNT">
            </fieldset>
        </div>
    </div>


    <h3 class="text-center">Income List</h3>
    <div class="table responsive">
        <table class="table table-bordered">
            <thead class="thead-light text-center">
                <tr>
                    <th>NAME</th>
                    <th>PAYMENT METHOD</th>
                    <th>DATE</th>
                    <th>A/C HEAD</th>
                    <th>AMOUNT</th>
                    <th>CREATEDAT</th>
                    <th>CREATEDBY</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let income of IncomeList" class="text-center">
                    <td>{{income.Name}}</td>
                    <td>{{income.PaymentMethod}}</td>
                    <td>{{income.Date}}</td>
                    <td>{{income.Head}}</td>
                    <td>{{income.Amount |percent:'1.3-5'}}</td>
                    <td>{{income.CreatedAt}}</td>
                    <td>{{income.CreatedBy}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
    