<link href="assets/fontawesome-free/css/t5.css" rel="stylesheet" type="text/css">
<h2 class="text-center">FEES PAYMENT</h2>
<div class="row my-4">
    <div class="form-group col-md-4 offset-md-4">
        <fieldset class="form-group">
            <label for="sclass" class="bmd-label-floating">SELECT CLASS</label>
            <select type="text" #sclass class="form-control">
                <option *ngFor="let select of selectclass">{{select.selectname}}</option>
            </select>
            
        </fieldset>
    </div>
    <div class="form-group col-md-4 offset-md-4">
        <fieldset class="form-group">
            <label for="ssection" class="bmd-label-floating">NAME</label>
            <select #ssection class="form-control">
                <option *ngFor="let section of selectsection">{{section.selectname}}</option>
            </select>
           
        </fieldset>
        </div>
    <div class="form-group  col-md-2 offset-md-5">
        <button (click)=myFunction(sclass,ssection) class="btn btn-grad">Save</button>
    </div>
    <div class="form-group col-md-2">
        <button class="btn btn-grad" (click)="reverseFunction()">Reverse</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-center thead-light">
            <tr>
                <th>SEARCH BY NAME</th>
                <th>ADMISSION NUMBER</th>
                <th>ROLL NUMBER</th>
                <th>PAYMENT DATE</th>
                <th>CREATED AT</th>
                <th>CREATED BY</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fees of fpay" class="text-center">
                <td>{{fees.sname}}</td>
                <td>{{fees.admisssionno}}</td>
                <td>{{fees.rollno}}</td>
                <td>{{fees.paymentdate | date: 'dd-MM-yyyy h:mm:ss'}}</td>
                <th>{{fees.CreatedAt}}</th>
                <th>{{fees.CreatedBy}}</th>
            </tr>
        </tbody>
    </table>
</div>
