<div class="content" id="divQuotation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>

                        </div>
                        <h4 class="card-title">Admin Section</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!--      Wizard container        -->
                                <div class="wizard-container">
                                    <div class="card-wizard" data-color="rose" id="wizardProfile">
                                        <form action="" method="" novalidate="novalidate">
                                            <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

                                            <div class="wizard-navigation">
                                                <ul role="tablist" class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center">
                                                    <li class="nav-item">
                                                        <a data-toggle="tab" href="#Source" role="tablist" class="nav-link active">
                                                            <i class="material-icons">source</i> Source </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a data-toggle="tab" href="#Purpose" role="tablist" class="nav-link">
                                                            <i class="material-icons">help</i>Purpose</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a data-toggle="tab" href="#Complaint" role="tablist" class="nav-link">
                                                            <i class="material-icons">announcement</i>Complaint</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a data-toggle="tab" href="#Reference" role="tablist" class="nav-link">
                                                            <i class="material-icons">account_tree</i>Reference</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="Source">
                                                        <div class=" col-sm-6 offset-md-3">
                                                            <div class="card shadow-lg mb-5 bg-white rounded">
                                                                <div class="card-header card-header-icon card-header-rose">
                                                                    <div class="card-icon"><i class="material-icons">source</i></div>
                                                                    <h4 class="card-title">Source</h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <thead class="text-center text-primary">
                                                                                <tr>
                                                                                    <th>DESCRIPTION</th>
                                                                                    <th>ACTION</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="text-center">
                                                                                <tr>
                                                                                    <td>News Paper</td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Online Marketing
                                                                                    </td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Face Book</td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="Purpose">
                                                        <div class=" col-sm-6 offset-md-3">
                                                            <div class="card shadow-lg mb-5 bg-white rounded">
                                                                <div class="card-header card-header-icon card-header-rose">
                                                                    <div class="card-icon"><i class="material-icons">help</i></div>
                                                                    <h4 class="card-title">Purpose</h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <thead class="text-center text-primary">
                                                                                <tr>
                                                                                    <th>DESCRIPTION</th>
                                                                                    <th>ACTION</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="text-center">
                                                                                <tr>
                                                                                    <td>Admission</td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Transfer Certificate
                                                                                    </td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Re-Admission
                                                                                    </td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="Complaint">
                                                        <div class=" col-sm-6 offset-md-3">
                                                            <div class="card shadow-lg mb-5 bg-white rounded">
                                                                <div class="card-header card-header-icon card-header-rose">
                                                                    <div class="card-icon"><i class="material-icons">announcement</i></div>
                                                                    <h4 class="card-title">Complaint</h4>
                                                                </div>
                                                                <div class="card-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <thead class="text-center text-primary">
                                                                                <tr>
                                                                                    <th>DESCRIPTION</th>
                                                                                    <th>ACTION</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="text-center">
                                                                                <tr>
                                                                                    <td>General complaint
                                                                                    </td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>ADA grievance

                                                                                    </td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Academic Misconduct

                                                                                    </td>
                                                                                    <td><a href="#"><i class="text-warning material-icons">edit</i></a>
                                                                                        <a href="#"><i class="text-danger material-icons">restore_from_trash</i></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="Reference">
                                                        Reference
                                                    </div>

                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <!-- wizard container -->
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>